::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

.heading {
  font-family: "Bebas Neue", cursive;
  font-size: 70px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(#133987, #6c87be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subheading {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  margin-top: -50px;
  text-align: center;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(#133987, #6c87be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
