@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

a {
  text-decoration: none;
  color: #000000;
}

.heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(#133987, #6c87be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subheading {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  margin-top: -50px;
  text-align: center;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(#133987, #6c87be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
  margin-top: 35px;
}

.cards,
.contact {
  margin-top: 45px;
}

@keyframes glitch {
  0%,
  55.1%,
  100% {
    background: url("./res/logo-1.png");
    background-size: cover;
  }
  50% {
    background: url("./res/rl-glitch-1.png");
    background-size: cover;
  }
  52.5% {
    background: url("./res/rl-glitch-2.png");
    background-size: cover;
  }
  55% {
    background: url("./res/rl-glitch-3.png");
    background-size: cover;
  }
}

.avatar {
  width: 300px;
  height: 300px;
  background: url("./res/logo-1.png");
  background-size: cover;
  animation: glitch 3.7s infinite steps(1);
}
